
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
    <img src="<%= file %>" alt="" style="width:20%">
    <p><%= marca %></p>
    <p><%= modelo %></p>
    <p><%= fecha %></p>
    <p><%= latitud %></p>
    <p><%= longitud %></p>
</body>
</html>